{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{ thread.title }} by <a href="{{ path('user_profile', {'username': thread.user.username }) }}">{{ thread.user.username }}</a></span>
                    <span class="pull-right">{{ thread.createdAt|date('F jS \\a\\t g:ia') }}</span>
                </div>
                <div class="panel-body">
                    {{ thread.body }}
                </div>
            </div>
        </div>
    </div

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for reply in replies %}
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <a href="{{ path('user_profile', {'username': reply.user.username}) }}">
                            {{ reply.user.username }}
                        </a>
                        {{ reply.createdAt|date("F jS \\a\\t g:ia") }}
                        <div class="pull-right">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user.username == thread.user.username and app.user.username != reply.user.username and not reply.praise %}
                                <div class="praise">
                                    <button class="btn btn-sm btn-success add-praise" data-reply-id="{{ reply.id }}"><strong>+</strong></button>
                                    <div class="praise-message hidden" id="praise-message-{{ reply.id }}">
                                        <form action="{{ path('app_praises_store', {'id': reply.id}) }}" method="POST">
                                            <div class="form-group">
                                                <label for="body">Message:</label>
                                                <textarea class="form-control" name="body" id="body"></textarea>
                                                <input type="hidden" name="token" value="{{ csrf_token('add-praise') }}" />
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary">Add</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            {% if reply.praise %}
                                <div class="glyphicon glyphicon-ok"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ reply.body }}
                    </div>
                </div>
            {% endfor %}
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('reply_new', {'slug': thread.slug, 'channelSlug': channel.channelSlug }) }}" class="btn-sm btn-primary">Reply</a>
            {% else %}
                <small>
                    <a href="{{ path('login') }}">Log in</a> to reply in this thread
                </small>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/build/css/threads.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        const praiseButtons = document.querySelectorAll(".add-praise");
        praiseButtons.forEach(button => {
            button.addEventListener('click', event => {
                const contenerId = `#praise-message-${event.target.dataset.replyId}`;
                document.querySelector(contenerId).classList.toggle('hidden');
            });
        });
    </script>
{% endblock %}